# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.wrangler
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
wrangler.toml
.env.*
!.env.example

# Database backups and seed data
/server/db/local_backup/
/server/db/seed_data/
