@import "tailwindcss";

@theme {
  /************** CUSTOM FONTS **************/
  --font-geist: Geist, sans-serif;

  --font-neue-montreal-medium-semi: "Neue Montreal Medium Semi", sans-serif;
  --font-neue-montreal-medium-bold: "Neue Montreal Medium Bold", sans-serif;

  --font-ghost: "Ghost", serif;
  --font-ghost-italic: "Ghost Italic", serif;
  /****************************************************/

  /**************** CUSTOM COLORS **************/
  --color-neutral-980: oklch(0.125 0 0);
  /****************************************************/

  /************** CUSTOM ANIMATIONS **************/
  --animate-menu-drop: menu-drop 0.3s ease-in-out;
  --animate-menu-item-fade: menu-item-fade 1.5s ease-in-out;
  /****************************************************/

  /************* CUSTOM ANIMATION KEYFRAMES **************/
  @keyframes menu-drop {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @keyframes menu-item-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /****************************************************/
}

/********************************************************/
@layer base {
  @font-face {
    font-family: "Neue Montreal Medium Bold";
    src: url("/fonts/neue-montreal-squeezed-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Neue Montreal Medium Semi";
    src: url("/fonts/neue-montreal-semi-squeezed-530.woff2") format("woff2");
    font-weight: 530;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Ghost";
    src: url("/fonts/ghost.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Ghost Italic";
    src: url("/fonts/ghost-italic.woff2") format("woff2");
    font-style: italic;
    font-display: swap;
  }
}
/********************************************************/
