@import "tailwindcss";

@theme {
  /************** CUSTOM FONTS **************/
  --font-geist: Geist, sans-serif;

  --font-neue-montreal-medium-semi: "Neue Montreal Medium Semi", sans-serif;
  --font-neue-montreal-medium-bold: "Neue Montreal Medium Bold", sans-serif;

  --font-ghost-regular: "Ghost Regular", serif;
  --font-ghost-italic: "Ghost Italic", serif;
  /* ************************************************** */

  /************** CUSTOM ANIMATIONS **************/
  --animate-menu-drop: menu-drop 0.3s ease-in-out;
  --animate-menu-item-fade: menu-item-fade 1.5s ease-in-out;
  /* ************************************************** */

  /************* CUSTOM ANIMATION KEYFRAMES **************/
  @keyframes menu-drop {
    0% {
      height: 0;
    }
    100% {
      height: 100%;
    }
  }
  @keyframes menu-item-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* ************************************************** */
}

/********************************************************/
@layer base {
    @font-face {
        font-family: "Geist";
        src: url("/fonts/Geist-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }

  @font-face {
    font-family: "Neue Montreal Medium Bold";
    src: url("/fonts/OTNeueMontreal-SemiBoldSqueezed.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Neue Montreal Medium Semi";
    src: url("/fonts/OTNeueMontreal-SemiBoldSemiSqueezed.woff2")
      format("woff2");
    font-weight: 530;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Ghost Regular";
    src: url("/fonts/TWKGhost-Regular.woff2") format("woff2");
    font-style: normal;
  }

  @font-face {
    font-family: "Ghost Italic";
    src: url("/fonts/TWKGhost-Italic.woff2") format("woff2");
    font-style: italic;
  }
}
/********************************************************/
